* {
  margin: 0;
  padding: 0;
}

.App {
  height: 100%;
  width: 1150px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.square-space-tab {
  height: 30px;
  width: 1150px;
  min-width: 800px; /* 必要に応じて適切な最小幅を設定 */
  border: 0.5px solid #c0c0c0;
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.square-space-tab-button {
  width: 180px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.body {
  height: 760px;
  width: 1150px;
  background-color: aqua;
  display: flex;
}

.input-asin {
  background-color: #c0c0c0;
  width: 190px;
  height: 700px;
  border: 0.5px solid #c0c0c0;
}

.globalList {
  height: 650px;
  width: 960px; /*アイテム要素が横に増えたときにwidthが変動しないに固定値を設定*/
  max-height: 650px; /* この縦幅以上にリストが増えたらスクロール開始 */
  max-width: 960px; /* この横幅以上にリスト要素が増えたらスクロール開始 */
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  overflow-y: auto;
  flex-shrink: 0; /* フレックスコンテナ内の要素が親スペースよりも大きい場合に、要素の縮小を防止。*/
  position: relative;
}

/* 各ASINのアイテムを横に左から並べる役割 */
.asin-list-header {
  /* position: sticky;
  top: 0; */
  z-index: 10; /* リスト要素の前面に表示する設定 */
  height: 65px; /* ヘッダーの縦サイズです */
  width: 1095px; /* スクロール領域内の各リスト横幅の最大値に合わせます */
  display: flex;
  flex-direction: row;
  flex-shrink: 0; /* フレックスコンテナ内の要素が親スペースよりも大きい場合に、要素の縮小を防止。*/
  position: absolute;
  top: 0%;
  left: 0%;
}

.asinArray-map-wrapper {
  display: flex;
  flex-direction: column;
  z-index: 200px;
  background-color: rgb(215, 215, 255);
  position: absolute;
  top: 65px;
  left: 0%;
}

.asin-list {
  width: 1150px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0; /* フレックスコンテナ内の要素が親スペースよりも大きい場合に、要素の縮小を防止。*/
}

.square-space-asin {
  width: 110px;
  height: 65px;
  border: 0.5px solid #c0c0c0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0; /* フレックスコンテナ内の要素が親スペースよりも大きい場合に、要素の縮小を防止。*/
}

.square-space-name {
  height: 65px;
  width: 500px;
  border: 0.5px solid #c0c0c0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0; /* フレックスコンテナ内の要素が親スペースよりも大きい場合に、要素の縮小を防止。*/
}

.square-space-name p {
  max-height: 65px;
  max-width: 800px;
  padding: 5px;
  display: flex;
  overflow: hidden;
  font-size: 15px;
  font-family: "Courier New", Courier, monospace;
  white-space: nowrap; /* テキストを折り返さない */
}

.square-space-st-code {
  width: 90px;
  height: 65px;
  border: 0.5px solid #c0c0c0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0; /* フレックスコンテナ内の要素が親スペースよりも大きい場合に、要素の縮小を防止。*/
}

.square-space-lock-flag {
  width: 90px;
  height: 65px;
  border: 0.5px solid #c0c0c0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0; /* フレックスコンテナ内の要素が親スペースよりも大きい場合に、要素の縮小を防止。*/
}

.square-space-amazon-num {
  width: 90px;
  height: 65px;
  border: 0.5px solid #c0c0c0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0; /* フレックスコンテナ内の要素が親スペースよりも大きい場合に、要素の縮小を防止。*/
}

.square-space-amazon-num p {
  max-width: 50px;
  max-height: 65px;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  word-break: break-all;
}

.square-space-amazon-num input[type="checkbox"] {
  transform: scale(1.5); /* サイズを1.5倍に拡大 */
}

.left-column {
  width: 190px;
  height: 760px;
  display: flex;
  flex-direction: column;
}

.left-column-down-container {
  height: 60px;
  width: 100%;
  display: flex;
  background-color: blueviolet;
  border: 0.5px solid #c0c0c0;
  position: relative;
}

.add-asin-count {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
}

.add-asin-button {
  height: 30px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
}

.right-column {
  width: 960px;
  height: 760px;
  display: flex;
  flex-direction: column;
}

.right-column-down-container {
  height: 100%;
  width: 100%;
  background-color: chocolate;
  border: 0.5px solid #c0c0c0;
  position: relative;
}

.delete-selected-asin-button {
  height: 30px;
  width: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 12%;
  transform: translate(-50%, -50%);
}

.delete-no-fba-asin-button {
  height: 30px;
  width: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 30%;
  left: 84.5%;
  transform: translate(-50%, -50%);
}

.delete-no-protected-asin-button {
  height: 30px;
  width: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 70%;
  left: 84.5%;
  transform: translate(-50%, -50%);
}

.body-bottom-container {
  height: 40px;
  width: 100%;
  background-color: darkkhaki;
  border: 0.5px solid #c0c0c0;
  position: relative;
}

.body-bottom-container p {
  font-size: 15px;
  font-family: "Courier New", Courier, monospace;
  position: absolute;
  top: 50%;
  left: 1%;
  transform: translate(0%, -50%); /* 第一引数がx軸、第二引数がy軸 */
}
