* {
  margin: 0;
  padding: 0;
}

.App {
  width: 1388.5px;
  height: 1000;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.square-space-tab {
  height: 30px;
  width: 100%;
  min-width: 800px; /* 必要に応じて適切な最小幅を設定 */
  border: 0.5px solid #c0c0c0;
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.square-space-tab-button {
  width: 180px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.body {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.input-asin {
  width: 190px;
  height: 400px;
  border: 0.5px solid #c0c0c0;
}

.globalList {
  max-width: 1388px;
  max-height: 650px;
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
  overflow-y: scroll;
}

.asin-list-header {
  display: flex;
  flex-direction: row;
}

.asin-list {
  display: flex;
  flex-direction: row;
}

.square-space-asin {
  width: 110px;
  height: 65px;
  border: 0.5px solid #c0c0c0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square-space-name {
  width: 550px;
  height: 65px;
  border: 0.5px solid #c0c0c0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square-space-name p {
  max-width: 800px;
  max-height: 65px;
  padding: 5px;
  display: flex;
  overflow: hidden;
  font-size: 15px;
  font-family: "Courier New", Courier, monospace;
  white-space: nowrap; /* テキストを折り返さない */
}

.square-space-st-code {
  width: 90px;
  height: 65px;
  border: 0.5px solid #c0c0c0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square-space-lock-flag {
  width: 90px;
  height: 65px;
  border: 0.5px solid #c0c0c0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square-space-amazon-num {
  width: 90px;
  height: 65px;
  border: 0.5px solid #c0c0c0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square-space-amazon-num p {
  max-width: 50px;
  max-height: 65px;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  word-break: break-all;
}

.square-space-amazon-num input[type="checkbox"] {
  transform: scale(1.5); /* サイズを1.5倍に拡大 */
}
