.top-square-space-tab {
  height: 30px;
  width: 100%;
  border: 0.5px solid #c0c0c0;
  background-color: aquamarine;
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.top-square-space-tab-button {
  width: 180px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-square-space-menu {
  background-color: rgb(255, 165, 165);
  width: 100%;
  height: 110px;
  border: 0.5px solid #c0c0c0;
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-shrink: 0; /* フレックスコンテナ内の要素が親スペースよりも大きい場合に、要素の縮小を防止。*/
}

.top-square-space-menu-container-left {
  width: 385px;
  height: 110px;
  border: 0.5px solid #c0c0c0;
  display: flex;
  position: relative;
}
.top-square-space-menu-container-left-scraping {
  height: 25px;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20%;
  left: 20%;
}

.top-square-space-menu-container-left-check {
  position: absolute;
  top: 77%;
  left: 7%;
  transform: scale(1.5); /* サイズを1.5倍に拡大 */
}

.top-square-space-menu-container-left-input {
  width: 100px;
  height: 20px;
  position: absolute;
  top: 72.5%;
  left: 20%;
}

.top-square-space-menu-container-center {
  width: 832px;
  height: 110px;
  border: 0.5px solid #c0c0c0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-square-space-menu-container-center-input {
  width: 280px;
  height: 20px;
  position: absolute;
  top: 72.5%;
  left: 1%;
}

.top-square-space-menu-container-center-total-stock {
  position: absolute;
  top: 75%;
  left: 38%;
  font-size: 13.5px;
}

.top-square-space-menu-container-center-decrease1 {
  position: absolute;
  top: 35%;
  left: 38%;
  font-size: 13.5px;
}

.top-square-space-menu-container-center-decrease2 {
  position: absolute;
  top: 55%;
  left: 38%;
  font-size: 13.5px;
}

.top-square-space-menu-container-right {
  width: 212px;
  height: 110px;
  border: 0.5px solid #c0c0c0;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.top-square-space-menu-container-right-delete-button {
  width: 165px;
  height: 20px;
  position: absolute;
  top: 5%;
  left: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-square-space-menu-container-right-asin-num {
  position: absolute;
  top: 25%;
  left: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

.top-square-space-menu-container-right-input {
  width: 100px;
  height: 20px;
  position: absolute;
  top: 72.5%;
  left: 48%;
}

.top-globalList {
  height: 750px;
  width: 1466px; /*アイテム要素が横に増えたときにwidthが変動しないに固定値を設定*/
  max-height: 750px; /* この縦幅以上にリストが増えたらスクロール開始 */
  max-width: 1466px; /* この横幅以上にリスト要素が増えたらスクロール開始 */
  background-color: rgb(156, 255, 250);
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  overflow-y: auto;
  flex-shrink: 0; /* フレックスコンテナ内の要素が親スペースよりも大きい場合に、要素の縮小を防止。*/
  position: relative;
}

.top-asin-list-header {
  z-index: 10; /* リスト要素の前面に表示する設定 */
  background-color: beige;
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0%;
  left: 0%;
}

.top-asinArray-map-wrapper-top-css {
  display: flex;
  flex-direction: column;
  z-index: 200px;
  background-color: rgb(215, 215, 255);
  position: absolute;
  top: 65px;
  left: 0%;
}

.top-asin-list {
  display: flex;
  flex-direction: row;
}

.top-square-space-asin-delete {
  width: 65px;
  height: 65px;
  border: 0.5px solid #c0c0c0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0; /* フレックスコンテナ内の要素が親スペースよりも大きい場合に、要素の縮小を防止。*/
}

.top-square-space-asin-delete input[type="checkbox"] {
  transform: scale(1.5); /* サイズを1.5倍に拡大 */
}

.top-square-space-asin {
  width: 140px;
  height: 65px;
  border: 0.5px solid #c0c0c0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0; /* フレックスコンテナ内の要素が親スペースよりも大きい場合に、要素の縮小を防止。*/
}

.top-square-space-3buttonp-out {
  width: 110px;
  height: 65px;
  border: 0.5px solid #c0c0c0;
  display: flex;
  direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0; /* フレックスコンテナ内の要素が親スペースよりも大きい場合に、要素の縮小を防止。*/
}

.top-square-space-3buttonp-elements {
  width: 110px;
  height: 65px;
  border: 0.5px solid #c0c0c0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.top-square-space-each-button {
  width: 50;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5px 0;
}

.top-square-space-img {
  width: 65px;
  height: 65px;
  border: 0.5px solid #c0c0c0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0; /* フレックスコンテナ内の要素が親スペースよりも大きい場合に、要素の縮小を防止。*/
}

.top-square-space-img img {
  max-width: 95%;
  max-height: 95%;
}

.top-square-space-name {
  width: 312.5px;
  height: 65px;
  border: 0.5px solid #c0c0c0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0; /* フレックスコンテナ内の要素が親スペースよりも大きい場合に、要素の縮小を防止。*/
}

.top-square-space-name p {
  max-width: 312.5px;
  max-height: 65px;
  padding: 5px;
  display: flex;
  align-items: flex-start; /* テキストの上揃え */
  overflow: hidden;
  font-size: 15px;
  font-family: "Courier New", Courier, monospace;
  line-height: 1.5; /* 行間を調整 */
}

.top-square-space-amazon-num {
  width: 67.5px;
  height: 65px;
  border: 0.5px solid #c0c0c0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0; /* フレックスコンテナ内の要素が親スペースよりも大きい場合に、要素の縮小を防止。*/
}

.top-square-space-amazon-num p {
  max-width: 50px;
  max-height: 65px;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  word-break: break-all;
}

.top-square-space-amazon-num input[type="checkbox"] {
  transform: scale(1.5); /* サイズを1.5倍に拡大 */
}

.top-square-space-update-latest {
  width: 100px;
  height: 65px;
  border: 0.5px solid #c0c0c0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0; /* フレックスコンテナ内の要素が親スペースよりも大きい場合に、要素の縮小を防止。*/
}

.top-square-space-update-latest p {
  margin: 0; /* <p>タグのデフォルトのマージンをリセット */
  line-height: 1.5; /* 行間を調整 */
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-square-space-update-state {
  width: 100px;
  height: 65px;
  border: 0.5px solid #c0c0c0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  word-break: break-all;
  flex-shrink: 0; /* フレックスコンテナ内の要素が親スペースよりも大きい場合に、要素の縮小を防止。*/
}

.top-bottom-container {
  height: 40px;
  width: 1464px;
  background-color: darkkhaki;
  border: 0.5px solid #c0c0c0;
  position: relative;
}

.top-bottom-container p {
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 1%;
  transform: translate(0%, -50%); /* 第一引数がx軸、第二引数がy軸 */
}
