.custom-calendar {
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.custom-calendar .react-calendar__tile {
  background: none;
  border: 1px solid #e0e0e0;
  margin: 2px;
  transition: background-color 0.3s, color 0.3s;
}

.custom-calendar .react-calendar__tile:enabled:hover,
.custom-calendar .react-calendar__tile:enabled:focus {
  background-color: #e0f7fa;
}

.custom-calendar .react-calendar__tile--active {
  background-color: #1976d2;
  color: white;
}

.custom-calendar .react-calendar__tile--now {
  background-color: #ffeb3b;
  border: 1px solid #fbc02d;
}

.custom-calendar .react-calendar__navigation button {
  color: #1976d2;
  background: none;
  border: none;
  font-size: 16px;
  margin: 2px;
}

.custom-calendar .react-calendar__month-view__days__day--weekend {
  color: #f50057;
}
