/* カレンダーコンポーネントのカスタムスタイル */

/* TextFieldコンポーネントのスタイル */
.custom-calendar .MuiTextField-root {
  width: 150px; /* 必要に応じて幅を調整 */
}

/* Popoverコンポーネントのスタイル */
.custom-calendar .MuiPopover-paper {
  width: 300px; /* 必要に応じて幅を調整 */
  padding: 16px; /* 必要に応じてパディングを追加 */
}

/* Calendarコンポーネントのスタイル */
.custom-calendar .react-calendar {
  max-width: 100%;
}

.custom-calendar .react-calendar__tile {
  height: 50px; /* 必要に応じて高さを調整 */
}
