.guest-login-section-h2 {
  font-size: 22.5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.guest-login-section {
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
}

.guest-login-section-email {
  margin-top: 8px;
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
}

.guest-login-section-email input {
  margin-left: 10px;
  height: 20px;
  width: 220px;
}

.guest-login-section-password {
  margin-top: 8px;
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
  position: relative;
}

.guest-login-section-password input {
  margin-left: 40px;
  height: 20px;
  width: 220px;
}

.guest-login-section-password-toggle-button {
  height: 100%; /* ボタンの高さを親要素の高さに一致させ、結果的に中央に配置させる */
  position: absolute; /* 親要素の相対位置を基準にして絶対位置に配置 */
  left: 75%;
  background: none; /* 背景を透明に設定 */
  border: none; /* ボーダーを取り除く */
  cursor: pointer; /* ホバー時にポインター（手の形のカーソル）を表示 */
  outline: none; /* フォーカス時のアウトラインを取り除く */
}

.guest-login-section-login-button {
  margin-top: 10px;
  display: flex;
  position: relative;
}

.guest-login-section-login-button button {
  height: 22.5px;
  width: 70px;
}

.guest-login-section-login-button p {
  font-size: 12px;
  color: rgb(255, 48, 48);
  position: absolute;
  top: -30%;
  left: 25%;
}

.guest-login-section-auto-login {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.guest-login-section-auto-login p {
  font-size: 11px;
  margin-left: 5px;
}
